*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: cornsilk;
}

p{
  font-family: 'Abril Fatface', cursive;
  text-shadow: 2px 2px white;
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

#sub{
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 20px;
}

img{
  width: 33%;
  height: auto;
  padding: 15px;
  object-fit: cover;
}

.photos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 1050px){
    img{
      width: 50%
    }
  }

  @media screen and (max-width: 750px){
    img{
      width: 100%
    }
  }
